# Dependencies
node_modules/
pnpm-lock.yaml
package-lock.json

# Environment variables
.env
.env.*

# Prisma
prisma/dev.db
prisma/*.db
prisma/*.db-journal

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output (kalau nanti ada)
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/

# Test coverage
coverage/

# Cache
.cache/
.tmp/

# Misc
*.swp
*.swo
